<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <module-name>multi-tenant</module-name>
  <context-param>
    <param-name>keycloak.config.resolver</param-name>
    <param-value>net.yohol.multitenant.control.PathBasedKeycloakConfigResolver</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>ico</extension>
    <mime-type>image/x-icon</mime-type>
  </mime-mapping>
  <login-config>
    <auth-method>KEYCLOAK</auth-method>
    <realm-name>not-important</realm-name>
  </login-config>
  <security-role>
    <role-name>user</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>HelloWorld</web-resource-name>
      <url-pattern>/hello</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
